@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colour */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --light-gray__bg__h__btn: hsl(0, 0%, 95%);
    --white: hsl(0, 0%, 100%);

    /* fontsize */
    --regular-fs: 0.9325rem;
    --big-fs:2rem;

    /* font weight */
    --regular-fw: 400;
    --bold-fw: 700;

    /* font family */
    --paragraph-ff: 'Lexend Deca';
    --heading-ff: 'Big Shoulders Display';
}

body {
    background-color: var(--light-gray__bg__h__btn);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--paragraph-ff);
    color: var(--white-paragraph);
    font-size: var(--regular-fs);
    line-height: 1.5;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.car-name {
    font-weight: var(--bold-fw);
    font-family: var(--heading-ff);
    font-size: var(--big-fs);
    text-transform: uppercase;
}


.car {
    width: 17.5rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    overflow: auto;
}

.one {
    background-color: var(--bright-orange);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.two {
    background-color: var(--dark-cyan);
}

.three {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

button {
    border: none;
    outline: none;
    margin-top: 2rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: var(--paragraph-ff);
    cursor: pointer;
    transition: .3s;
}

.car button:hover {
    background-color: transparent;
    color: var(--white-paragraph);
    border: 2px solid var(--white-paragraph);
}

.one button {
    color: var(--bright-orange);
}
.two button {
    color: var(--dark-cyan);
}
.three button {
    color: var(--very-dark-cyan);
}


@media (max-width: 375px) {
    .container{
        flex-direction: column;
        justify-content: start;
        margin: 3rem 0;
        width: 80%;
    }

    .car {
        border-radius: 0;
    }

    .one {
    background-color: var(--bright-orange);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.three {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

}
/*
@media (max-width: 1440px) {
    
} */