$clrPryRed: hsl(0, 100%, 74%);
$clrPryGreen: hsl(154, 59%, 51%);
$clrAccBlue: hsl(248, 32%, 49%);
$clrNeuBlue: hsl(249, 10%, 26%);
$clrNeuGrayBlue: hsl(246, 25%, 77%);

$fsBody: 1rem; 
$ffBody: "Poppins", san-serif;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
