$clrPryBlue: hsl(223, 87%, 63%);
$clrSecBlue: hsl(223, 100%, 88%);
$clrSecRed: hsl(354, 100%, 66%);
$clrNeuWhite: hsl(0, 0%, 100%);
$clrNeuGray: hsl(0, 0%, 59%);
$clrNeuGrayII: hsla(0, 0%, 59%, 0.294);
$clrNeuBlue: hsl(209, 33%, 12%);

$fsBody: 1.25rem;
$ffBody: "Libre Franklin", sans-serif;
$fwLight: 300;
$fwSemiBold: 600;
$fwBold: 700;
