//variables

//colours
$clrDarkCyan: hsl(158, 36%, 37%);
$clrCream: hsl(30, 38%, 92%);
$clrDarkBlue: hsl(212, 21%, 14%);
$clrGrayBlue: hsl(228, 12%, 48%); //paragraph
$clrWhite: hsl(0, 0%, 100%);

//typography
$ffBody: "Montserrat", san-serif;
$ffHeading: "Fraunces", san-serif;
$fwMedium: 500;
$fwBold: 700;
$fsBody: 0.875rem;
