@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
$clrPryCyan: hsl(193, 38%, 86%);
$clrPryGreen: hsl(150, 100%, 66%);
$clrNeuBlue: hsl(217, 19%, 38%);
$clrNeuGrayBlue: hsl(217, 19%, 24%);
$clrNeuDarkBlue: hsl(218, 23%, 16%);

$fsQuote: 1.75rem;
$ffBody: "Manrope", sans-serif;
$fwBolder: 800;
